@charset "UTF-8";

.footer {
    display: block;
    background-color:#963;
    padding: 10px;
    position: relative;
    bottom:-40px;
    width: 98.5%;
    text-align: center;
 margin-bottom: 20px;

}